<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



<div align="right">
  <a href="/logout"> <h2>로그아웃</h2></a>
</div>



<body onload="login()">
<script>
  function login() {
    alert("로그인 되었습니다.");
   }
</script>
</body>

<div class="box-body">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>apartname</th>
      <th>building</th>
      <th>unit</th>
      <th>phonenumber</th>
    </tr>
    </thead>
  <tbody>
    <tr th:each="boardVO : ${memberList}">
      <td th:text="${boardVO.apartname}">apartname</td>
      <td th:text="${boardVO.building}">building</td>
      <td th:text="${boardVO.unit}">unit</td>
      <td th:text="${boardVO.phonenumber}">phonenumber</td>
    </tr>
  </tbody>
  </table>
</div>
</body>
</html>
