<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>MemberList</title>
</head>
<body>
<h1> dfasdfasdfasd</h1>
<tbody>
    <tr th:each="member : ${memberList}">
        <td><span th:text="${member.apartname}"></span></td>
        <td><span th:text="${member.building}"></span></td>
        <td><span th:text="${member.unit}"></span></td>
        <td><span th:text="${member.phonenumber}"></span></td>
        <td><span th:text="${member.nearestStation}"></span></td>
    </tr>
</tbody>
</body>
</html>